$primary-color: linen;
$primary-text-color: black;
$accent-color: brown;
$accent-text-color: white;
$accent-hover-color: maroon;
$error-color: red;
$success-color: darkgreen;
$section-spacing: 15%;
$xxl-viewport-min-width: 1400px;
$md-viewport-min-width: 768px;