$accent-color: brown;
$error-color: red;
$success-color: darkgreen;
$main-font: "Brawler";
$section-spacing-amount: 15%;
$animation-duration: 300ms;

@keyframes project-button-hover {
    to {
        fill: $accent-color;
    }
}
@keyframes submit-form-button-hover {
    to {
        background-color: $accent-color;
        color: white;
    }
}
body {
    font-family: $main-font;
}
body, header {
    background-color: linen;
}
.nav-link, .nav-link:hover {
    color: black;
}
.nav-underline .nav-link.active {
    color: $accent-color;
}
#main-content {
    padding-top: 10%;
}
section { 
    padding-bottom: $section-spacing-amount;
}
#about-name {
    color: $accent-color;
}
.project-card {
    background-color: whitesmoke;
}
.project-card > a.card-footer {
    background-color: transparent;
    border-color: black !important;
}
.project-card > a > svg {
    fill: black;
}
.project-card > a:hover > svg {
    animation-name: project-button-hover;
    animation-duration: $animation-duration;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}
#closing > hr {
    border: none;
    color: $accent-color;
    opacity: 100%;
    background-color: $accent-color;
    height: 2px;
    margin-bottom: $section-spacing-amount;
}
#submit-form {
    border-color: $accent-color !important;
    color: $accent-color;
}
#submit-form:hover {
    animation-name: submit-form-button-hover;
    animation-duration: $animation-duration;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}
#email-success > p {
    color: $error-color;
}
#email-error > p {
    color: $error-color;
}
footer {
    background-color: transparent;
}