@use "variables";

body {
    font-family: "Brawler";
    background-color: variables.$primary-color;
}

header {
    box-shadow: 0px 5px 8px -8px gray;
    background-color: variables.$primary-color;
}

.nav-link, .nav-link:hover, .nav-link:focus, .nav-link:active {
    color: variables.$primary-text-color;
}

.nav-underline .nav-link.active {
    color: variables.$accent-color;
}

@media only screen and (max-width:variables.$md-viewport-min-width) {
    .nav-link:focus:not(.active), .nav-link:active {
        border: none;
    }
}

@media only screen and (min-width:variables.$md-viewport-min-width) {
    .nav-link:focus:not(.active):not(:hover) {
        border: none;
    }
}

footer {
    background-color: transparent;
}

#main-content {
    padding-top: 10%;
}

section { 
    padding-bottom: variables.$section-spacing;
}

#about-name {
    color: variables.$accent-color;
}

@media only screen and (max-width: variables.$xxl-viewport-min-width) {
    #about-text {
        text-align: center;
    }
}

@media only screen and (min-width: variables.$xxl-viewport-min-width) {
    #about-text {
        text-align: left;
    }
}

@keyframes project-button-hover {
    to {
        fill: variables.$accent-color;
    }
}

.project-card {
    background-color: whitesmoke;

    .card-footer {
        background-color: transparent;
        border-color: black !important;
    }

    div > a > svg {
        fill: black;
        color: transparent;
    }

    div > a:hover > svg {
        animation-name: project-button-hover;
        animation-duration: 300ms;
        animation-fill-mode: forwards;
        animation-timing-function: ease;
    }
}

#closing > hr {
    border: none;
    color: variables.$accent-color;
    opacity: 100%;
    background-color: variables.$accent-color;
    height: 2px;
    margin-bottom: variables.$section-spacing;
}

#submit-form {
    background-color: variables.$accent-color;
    color: variables.$accent-text-color;
}

@media only screen and (min-width: variables.$md-viewport-min-width) {
    #submit-form:hover {
        background-color: variables.$accent-hover-color;
    }
}

@media only screen and (max-width: variables.$md-viewport-min-width) {
    #submit-form:active {
        background-color: variables.$accent-hover-color;
    }
}

#email-success > p {
    color: variables.$success-color;
}

#email-error > p {
    color: variables.$error-color;
}
